body {
  background-image: url("./purple-background.jpg");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.user-form {
  border: 2px solid purple;
  background-color: mediumorchid;
  color: white;
  font-size: 20px;
}

.header {
  color: white;
}

/* I tried to make it pretty 😅 */


